name: Publish

on:
  push:
    branches:
      - master

jobs:
  Dockerhub:
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v1

      - name: Publish
        run: |
          docker login -u "${{ secrets.DockerUsername }}" -p "${{ secrets.DockerPassword }}"
          docker build -t valalang/lint:latest .
          docker push valalang/lint:latest
